@{
    ViewBag.Title = "Home Page";
}


    <a href="@Url.Action("Index", "Subject")" class="btn-default">Subject</a>
    <a href="@Url.Action("Index", "Student")" class="btn-default">Student</a>
    <a href="@Url.Action("Index", "Teachers")" class="btn-default">Teacher</a>
    <a href="@Url.Action("Index", "Class")" class="btn-default">Class</a>
