@{
    ViewBag.Title = "Home Page";
}

<li>
    <a href="@Url.Action("SubjectList", "Home")">Subject</a>
    <a href="@Url.Action("StudentList", "Home")">Student</a>
    <a href="@Url.Action("TeacherList", "Home")">Teacher</a>
    <a href="@Url.Action("ClassList", "Home")">Class</a>
</li>