@model IEnumerable<Auckland_High_School.Models.Teacher>
@{
    ViewBag.Title = "TeacherList";
}

<h2>TeacherList</h2>
<table>
    <tr>
        <th>
            Name
        </th>
        <th>
            Gender
        </th>
    </tr>
    @foreach (var s in Model)
    {
        <tr>
            <td>
                @s.FirstName  @s.LastName
            </td>
            <td>
                @s.gender
            </td>
        </tr>
    }
</table>

@Html.ActionLink("Back To Home Page", "Index", "Home")

