@model IEnumerable<Cobra_onboarding.Person>
@{
    ViewBag.Title = "Home Page";
}

    <div ng-app="myApp" class="ng-cloak" ng-controller="customersCtrl">
        <hr>
        <button class="btn btn-success" ng-click="editUser('new')">
            <span class="glyphicon glyphicon-user"></span>Create New
        </button>
        <hr>
        <h3 ng-show="edit">Create New:</h3>
        <h3 ng-hide="edit">Edit User:</h3>
        <form name="frmCustomer" ng-submit="UpdateUser()">
            <div>
                <label>Customer Name</label>
                <input type="text" ng-model="Customer.Name" name="cname" placeholder="" required ng-minlength="4" ng-maxlength="14" />
            </div>
            <div>
                <label>Address1</label>
                <input type="text" ng-model="Customer.Address1" name="address1" placeholder="" required />
            </div>
            <div>
                <label>Address2</label>
                <input type="text" ng-model="Customer.Address2" name="address2" placeholder="" />
            </div>
            <div>
                <label>City</label>
                <input type="text" ng-model="Customer.City" name="city" placeholder="" required />
            </div>
            <div class="btn">
                <input type="submit" value="Update User" class="btn btn-success glyphicon glyphicon-save" ng-disabled="frmCustomer.$invalid" />
                @*<button class="btn btn-success" ng-click="UpdateUser()">*@
                    @*ng-disabled="error || incomplete">*@
                    @*<span class="glyphicon glyphicon-save"></span>Update User*@
                @*</button>*@
            </div>
        </form>
        <hr />
        @*<tt>option = {{Customer}}</tt><br />*@

        <h2>All Customers</h2>
        <table class="table">
            <tr>
                <th>
                    <a ng-click="Sort('Name')">Name</a>
                    <span class="sortorder" ng-show="propertyName === 'Name'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <a ng-click="Sort('Address1')">Address1</a>
                    <span class="sortorder" ng-show="propertyName === 'Address1'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <a ng-click="Sort('Address2')">Address2</a>
                    <span class="sortorder" ng-show="propertyName === 'Address2'" ng-class="{reverse: reverse}"></span>
                </th>
                <th>
                    <a ng-click="Sort('City')">City</a>
                    <span class="sortorder" ng-show="propertyName === 'City'" ng-class="{reverse: reverse}"></span>
                </th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr ng-repeat="custModel in ListCustomer | orderBy:propertyName:reverse">
                <td>{{ custModel.Name }}</td>
                <td>{{ custModel.Address1 }}</td>
                <td>{{ custModel.Address2 }}</td>
                <td>{{ custModel.City }}</td>
                <td>
                    <button ng-click="editUser($index)" class="btn-primary"><span class="glyphicon glyphicon-pencil"></span>Edit</button>
                </td>
                <td>
                    <button ng-click="getDetails(custModel)" class="btn-warning"><span class="glyphicon glyphicon-align-justify"></span>Details</button>
                    @*details partial view popup window to show the customer order details*@
                    @*<div ng-view="Details"></div>*@
                </td>
                <td>
                    <button ng-click="deleteCustomer(custModel)" class="btn-danger"><span class="glyphicon glyphicon-trash"></span>Delete</button>
                </td>
            </tr>
        </table>
        <hr />
        <div ng-show="det">
            <h2>Customer Order Details</h2>
            <p ng-show="!Details">Customer has No Order</p>
                <div ng-repeat="x in Details">
                    <h5>Customer Name:{{x.customerName | uppercase}}</h5>
                    <h5>Order Date:{{x.date | date}}</h5>
                    <h5>Product Count:{{x.ProductCount}}</h5>
                    <table class="table">
                        <tr>
                            <th>
                                Product Name:
                            </th>
                            <th>
                                Product Price:
                            </th>
                        </tr>
                        <tr ng-repeat="p in x.Products">
                            <td>{{p.Name | uppercase}}</td>
                            <td>{{p.Price | currency}}</td>
                        </tr>
                    </table>
                </div>
        </div>
        @*<tt>Customers = {{ListCustomer}}</tt><br />*@
    </div>

@section scripts
{
    <script src="~/Scripts/angular.js"></script>
    <script src="~/ScriptsNg/CustomerController.js"></script>
}
