@model IEnumerable<WebBlog.Models.Article>

@{ ViewBag.Title = "Browse Articles"; }

@{Html.RenderAction("PersonalPageSideBarTagsMenu", "PersonalPage", new { authorId = Model.ElementAt(0).AuthorId });}
<div class="tag">
    <h3>
        @*<em>@Model.Author.Name</em> Articles*@
    </h3>

    <ul id="article-list">
        @foreach (var article in Model)
        {
            <li>
                <a href="@Url.Action("Details", "PersonalPage", new { authorId = article.AuthorId, articleId = article.ArticleId })">
                    <span>@article.Title</span>
                </a>
            </li>
        }
    </ul>
</div>


