@model IEnumerable<WebBlog.ViewModels.PersonalTag>
@{
    ViewBag.Title = "PersonalSideBarTagsMenu";
}

<ul id="Tags">
    @foreach (var tag in Model)
    {
        <li>
            @Html.ActionLink(tag.Name,
            "Browse", "PersonalPage",
                  new { authorId = tag.AuthorId, tagname = tag.Name }, null)
        </li>
    }
</ul>

