@{
    ViewBag.Title = "Home Page";
}

<p>
    <a href="@Url.Action("Index", "Customer")" class="btn-primary">Customers</a>
    <a href="@Url.Action("Index", "Order")" class="btn-primary">Sales Orders</a>
    <a href="@Url.Action("Index", "OrderDetail")" class="btn-primary">OrderDetais</a>
    <a href="@Url.Action("Index", "Product")" class="btn-primary">Products</a>
</p>

