@model IEnumerable<WebBlog.Models.Article>
@{
    ViewBag.Title = "Index";
}
@{Html.RenderAction("SideBarTagsMenu", "Home");}
<h2>Index</h2>
<ui>
    @foreach (var article in Model)
    {
        <li>
            <a href="@Url.Action("Details", "PersonalPage", new { authorId = article.AuthorId, articleId = article.ArticleId })">
                <span>@article.Title</span>
            </a>
        </li>
    }
</ui>

