@model IEnumerable<WebBlog.Models.Tag>
@{
    ViewBag.Title = "SideBarTagsMenu";
}
<div class="col-md-3">
    <h2>Categories</h2>
    <ul id="Tags" class="nav nav-tabs nav-stacked">
        @foreach (var tag in Model)
        {
            <li>
                @Html.ActionLink(tag.Name,
            "Browse", "Home",
              new { tagname = tag.Name, }, null)
            </li>
        }
    </ul>
</div>

