@model IEnumerable<WebBlog.Models.Tag>
@{
    ViewBag.Title = "SideBarTagsMenu";
}
<div id="side_nav">
    <div id="cate_title_block">
        <h2>Categories</h2>
        <ul id="cate_item" class="nav nav-tabs nav-stacked">
            @foreach (var tag in Model)
            {
                <li>
                    @Html.ActionLink(tag.Name,
            "Browse", "Home",
              new { tagname = tag.Name, }, null)
                </li>
            }
        </ul>
    </div>
</div>

